body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

#home {
    /*display: block;*/
    background-image: url("https://localhost:7127/img/shoe.jpg");
    background-size: contain;
    background-position: center;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-content-home button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .header-content-home button:hover {
        background-color: #0056b3;
    }

section {
    padding: 2em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.collection-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collection-item {
    margin: 1em;
    border: 1px solid #ddd;
    padding: 1em;
    border-radius: 10px;
    background-color: white;
    width: 200px;
}

    .collection-item img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
