@page "/Find"
<PageTitle>Find</PageTitle>

@code {

}

<link rel="stylesheet" href="/css/Home.css">
<link rel="stylesheet" href="/css/Find.css">

<div class="search-container">
    <input type="text" placeholder="Search for shoes..." id="shoeSearch">
    <button onclick="searchShoes()">Search</button>
</div>

<section id="shoe-gallery">
    <!-- Repeat this block for each shoe -->
    @* <div class="shoe-item">
        <img src="/Images/nikecollection.jpg" alt="Shoe Name">
        <h3>Nike Air Max3</h3>
        <p>1030$ Price</p>
    </div> *@
    <!-- More shoe items -->
</section>

<footer>
    <p>&copy; 2024 Crockswear. All rights reserved.</p>
</footer>


<script>
    function searchShoes() {
        // JavaScript for search functionality
    }


    var container = document.getElementById("shoe-gallery");
    for (let i = 0; i < 32; i++) {
        var inerhtml = "<img src=\"/Images/nikecollection.jpg\" alt=\"Shoe Name\"> <h3>Nike Air Max</h3> <p>100$ Price</p>"
        var div = document.createElement("div");
        div.className = "shoe-item";
        div.innerHTML = inerhtml;
        container.appendChild(div)
    }
</script>