@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PresentationLayer</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>
 *@




@using Microsoft.AspNetCore.Components.Authorization
<nav>
    <div class="logo">Crockswear</div>
    <ul class="nav-links">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#collection">Collection</a></li>
        <li><a href="#contact">Contact</a></li>
       
    <AuthorizeView>
        <Authorized>
                <li><a href="Account/Manage">Hello, @context.User.Identity?.Name!</a></li>
                <li><a href="../areas/Identity/pages/Account/Logout.razor">Log out</a></li>
        </Authorized>
        <NotAuthorized>
                <li><a href="../Areas/Identity/Pages/Account/Register.razor">Register</a></li>
                <li><a href="../Areas/Identity/Pages/Account/Login.razor">Log in</a></li>

        </NotAuthorized>
    </AuthorizeView>
    
    </ul>
</nav>


