@page "/Account/Login"

@using BusinessLayer
@inject NavigationManager Navigation

<PageTitle>Log in</PageTitle>

<h3>Log in</h3>

<BlazorIdentity.UI.Login TUser="User" OnLogin="HandleLogin" />

@code {
    private void HandleLogin()
    {
        Navigation.NavigateTo("/");
    }
}
